# --- BANCO DE DADOS (MARIADB) ---
DB_HOST=host
DB_USER=usuario
DB_PASSWORD=senha
DB_NAME=banco

# --- DATA LAKE (MINIO) ---
MINIO_ENDPOINT=IP_SERVIDOR:PORTA
MINIO_ACCESS_KEY=usuario
MINIO_SECRET_KEY=senha
MINIO_REGION=us-east-1